.card {
  float: left;
  border: solid 1px white;
  width: 100px;
  border-radius: 5px;
  width: 120px;
  height: 166px;
  margin-right: 20px;
  padding: 0;
  margin-top: 20px;
  background-color: #FFFFFF;
  color: #333333;

}

.covered {
  background-image: url('../img/card-back.png');
}

.covered img {
  opacity: 0;
}

.hand {
  overflow: auto;
  margin: 0 auto;
  width: 568px;
  text-align: center;
  display: block;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /*background-color: #333333;*/
  color: white;
  border-color: white;
  background-image: url('../img/cardbg2.jpg');
}

body h1{
  text-align: center;
  /*font-family: 'Expletus Sans', cursive;*/
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 4em;
  padding-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
  text-align: center;
}

button {
  padding: 10px;
  width: 60px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button.stand-button {
  width: 80px;
}

.status {
  font-family: 'IM Fell DW Pica SC', serif;
  width: 100%;
  height: 55px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
